.about_brand {
	max-width: 150px;
	margin-left: 10px;
}
.about_brand_last {
	display: table;
	margin: auto;
	margin-bottom: 20px;
}
.about_list {
	display: block;
}
.giant_banner {
	max-width: 500px;
	display: table;
	margin: auto;
}