.about_text_block--cart {
	padding-left: 0;
	padding-right: 0;
	float: left;
	.bottom_block {
		float: left;
		width: 100%;
		margin-top: 20px;
		.in_total {
			font-size: 22px;
			float: left;
		}
		.items_order {
			font-size: 16px;
		}
	}
}
.cart_items_block {
	.one_cart_item {
		width: 100%;
		float: left;
		border-top: 3px solid $primary-color;
		padding: 5px 0px;
		font-size: 16px;
		color: $main-text-black;
		p {
			margin-bottom: 0;
		}
		&.last {
			border-bottom: 3px solid $primary-color;
		}
		.item-order {
			width: 27px;
			float: left;
			//font-size: 16px;
			color: $main-text-color;
			margin-right: 3px;
		}
		.item-title {
			float: left;
			//font-size: 16px;
			//color: $main-text-black;
			width: 40%;
			margin-right: 15px;
			a {
				color: $main-text-black;
				text-decoration: none;
				width: 100%;
				&:hover {
					text-decoration: none;
					color: inherit;
				}
			}
		}
		.item-price {
			float: left;
			//font-size: 16px;
			//color: $main-text-black;
			width: 100px;
			margin-right: 5px;
		}
		.item-quantity {
			float: left;
			//font-size: 16px;
			//color: $main-text-black;
			width: 62px;
			margin-right: 15px;
			input {
				width: 100%;
				border-radius: 5px;
			}
		}
		.item-total {
			float: left;
			//color: $main-text-black;
			width: 98px;
			.cart_item_sum {
				width: 100%;
				float: none;
			}
		}
		.buttons {
			width: 100%;
			float: left;
			.btn {
				float: right;
			}
		}
	}
}