.about_text_block {
	padding-left: 15px;
	padding-right: 10px;
	text-align: justify;
}
.conacts_subheading {
	padding-left: 15px;
}
.delivery_logo {
	margin: auto;
	display: table;
	margin-bottom: 15px;
	margin-top: 20px;
}
.delivery_outer_link {
	margin-right: 23px;
	margin-bottom: 30px;
	margin-left: 36px;
}
.dimex {
	display: table;
	margin: auto;
	margin-bottom: 20px;
}
.delivery_pic {
	max-width: 200px;
}
.grey_and_small {
	font-size: 12px;
	color: #cecece;
	text-align: center;
}
.delivary_subheading_text {
	display: block;
}
.delivery_regions_1 {
	float: left;
}
.delivery_regions_3 {
	/*float: right;*/
}
.delivery_regions_1, .delivery_regions_2, .delivery_regions_3 {
	list-style: none;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 11px;
}