node_modules
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
_ide_helper.php
.phpstorm.meta.php
new-version.zip
public/prices
public/img/photos
public/img/upload
public/img/photos.zip
public/vendor
public/photos
public/excel
public/import
public/requisites
public/pdf

