.subheading-items-in-sale {
	display: block;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: $primary;
	float: left;
	font-size: 30px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.items-in-sale {
	width: 100%;
	float: left;
}
.delete-from-sale {
	float: right;
}
.sale-img-preview {
	img.items_item_img {
		max-height: 200px;
		max-width: 100%;
	}
}
.sale-admin-title {
	h2 {
		height: 60px;
	}
}
.admin-delete-sale {
	float: right;
	width: auto!important;
	margin-top: -250px;
	margin-right: 140px;
}